@import "tailwindcss";

@theme {
  --color-primary: #6b46c1;
  --color-background-light: #f8f7ff;
  --color-background-dark: #0f0b1e;
  --font-display: "Space Grotesk", sans-serif;
}

.galaxy-gradient {
  background: linear-gradient(135deg, #6b46c1 0%, #3b0066 100%);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
